@import "tailwindcss";

@theme {
  --color-neon-green: #52ffa8;
  --color-scroll-blue: #0000FF;
  --shadow-neon-green: 0 0 20px 5px rgba(82, 255, 168, 0.8);
  
  --color-dark-bg: #0f0f0f;
  --color-dark-text: #d1d5db;
}

body {
  @apply bg-dark-bg text-dark-text transition-colors duration-300;
}

html.dark body {
  @apply bg-dark-bg text-dark-text;
}

html:not(.dark) {
  --color-neon-green: #0d9668;
  --shadow-neon-green: 0 0 15px 3px rgba(13, 150, 104, 0.5);
}

html:not(.dark) body {
  @apply bg-gray-200 text-gray-700;
}
